.App {
  padding: 60px 0;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* .App.day {
  background-image: url('./assets/day1.webp');
}

.App.night {
  background-image: url('./assets/night.webp');
} */

.previsions {
  width: 80%;
  margin: 40px auto;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-around;
  gap: 8px;
  flex-wrap: wrap;
}

.weather {
  border: 1px solid green;
  margin: 0 auto;
  max-width: 50%;
}
