.App {
  padding: 60px 0;
  text-align: center;
}

.previsions {
  width: 80%;
  margin: 40px auto;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-around;
  gap: 8px;
  flex-wrap: wrap;
}

.weather {
  margin: 0 auto;
  max-width: 60%;
}
